@use 'variaveis';

.shows {
    padding: 2vw 5.6vw;
    min-height: 50vw;

    h3 {
        text-align: center;
        padding-bottom: 12px;
    }

    &__lists {
        margin-top: 44px;
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;

        @media (max-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }

        &--is-active {
            display: grid;
        }

        &__item {

            h3 {
                color: #fff;
                background-color: rgba($color: #000000, $alpha: 0.5);
                text-align: center;
            }


            img {
            width: 100%;
            height: 220px;
            object-fit: cover;
            }
        }
    }

    &__tabs {
        display: flex;
        justify-content: center;

        &__button {
            color: variaveis.$corTextoSecundario;
            font-size: 20px;
            border: none;
            padding-bottom: 5px;
            background: none;
            text-transform: uppercase;
            margin: 0 1vw;
            cursor: pointer;
            border-bottom: 5px solid transparent;

            &--is-active {
                border-color: variaveis.$corTextoSecundario;
            }

            @media (max-width: 768px) {
                font-size: 16px;
            }
        }
    }
}